{% extends 'base.html' %} {% load static %} {% block content %}

<div class="mainMentor">
	<div class="firstMentor">
		<div class="mentorName">Джеф Безос</div>
		<img
			src="{% static 'besos.jpg' %}"
			alt="Image 1"
			class="anketaImg ankentaHTML"
		/>

		<div class="anketaTheme">Бизнес</div>
		<div class="anketaDescription">Милиардер, бизнесмен</div>
	</div>
	<div class="secondMentor">{% lorem 1 b random %}</div>
</div>
<div class="mentorLinks">
	<div class="buttonConnect">
		Для связи с ментором введите в телеграмме @besos
	</div>
</div>

{% endblock %}
