{% extends 'base.html' %} {% load static %} {% block content %}

<div class="mainMentor">
	<div class="firstMentor">
		<div class="mentorName">Билл Гейтс</div>
		<img
			src="{% static 'bill.jpg' %}"
			alt="Image 1"
			class="anketaImg ankentaHTML"
		/>
		<div class="anketaTheme">IT, бизнес</div>
		<div class="anketaDescription">Создатель Windows</div>
	</div>
	<div class="secondMentor">{% lorem 1 b random %}</div>
</div>
<div class="mentorLinks">
	<div class="buttonConnect">
		<button class="buttonConnectClick" onclick="showPopup()">
			Отправить заявку
		</button>
	</div>
	<div class="mentorSocial">
		<ul class="social-icons">
			<li>
				<a href="#"><img src="{% static 'facebook.png' %}" alt="Facebook" /></a>
			</li>
			<li>
				<a href="#"><img src="{% static 'twitter.png' %}" alt="Twitter" /></a>
			</li>
			<li>
				<a href="#">
					<img src="{% static 'telegram.png' %}" alt="Telegram" />
				</a>
			</li>
			<li>
				<a href="#">
					<img src="{% static 'instagram.png' %}" alt="Instagram" />
				</a>
			</li>
			<!-- Добавьте другие иконки социальных сетей по аналогии -->
		</ul>
	</div>
</div>

{% endblock %}
