{% extends 'base.html' %} {% load static %} {% block content %}

<div class="mainMentor">
	<div class="firstMentor">
		<div class="mentorName">Коко Шанель</div>
		<img
			src="{% static 'chanel.jpg' %}"
			alt="Image 1"
			class="anketaImg ankentaHTML"
		/>
		<div class="anketaTheme">Мода, дизайн</div>
		<div class="anketaDescription">Легендарная дизайнерка</div>
	</div>
	<div class="secondMentor">{% lorem 1 b random %}</div>
</div>
<div class="mentorLinks">
	<div class="buttonConnect">
		Для связи с ментором введите в телеграмме @chanel
	</div>
</div>

{% endblock %}
