{% extends 'base.html' %} {% load static %} {% block content %}

<div class="mainMentor">
	<div class="firstMentor">
		<div class="mentorName">Альберт Эйнштейн</div>
		<img
			src="{% static 'einstein.jpg' %}"
			alt="Image 1"
			class="anketaImg ankentaHTML"
		/>
		<div class="anketaTheme">Физика, теория относительности</div>
		<div class="anketaDescription">Нобелевский лауреат</div>
	</div>
	<div class="secondMentor">{% lorem 1 b random %}</div>
</div>
<div class="mentorLinks">
	<div class="buttonConnect">
		<button class="buttonConnectClick" onclick="showPopup()">
			Отправить заявку
		</button>
	</div>
</div>

{% endblock %}
