{% extends 'base.html' %} {% load static %} {% block content %}

<div class="mainMentor">
	<div class="firstMentor">
		<div class="mentorName">Нельсон Мандела</div>
		<img
			src="{% static 'mandela.jpg' %}"
			alt="Image 1"
			class="anketaImg ankentaHTML"
		/>
		<div class="anketaTheme">Правозащитник, политика</div>
		<div class="anketaDescription">Бывший президент Южной Африки</div>
	</div>
	<div class="secondMentor">{% lorem 1 b random %}</div>
</div>
<div class="mentorLinks">
	<div class="buttonConnect">
		Для связи с ментором введите в телеграмме @nelson
	</div>
</div>

{% endblock %}
