{% extends 'base.html' %} {% load static %} {% block content %}

<div class="mainMentor">
	<div class="firstMentor">
		<div class="mentorName">Опра Уинфри</div>
		<img
			src="{% static 'oprah.jpg' %}"
			alt="Image 1"
			class="anketaImg ankentaHTML"
		/>
		<div class="anketaTheme">Телекоммуникации, благотворительность</div>
		<div class="anketaDescription">Телеведущая, продюсер</div>
	</div>
	<div class="secondMentor">{% lorem 1 b random %}</div>
</div>
<div class="mentorLinks">
	<div class="buttonConnect">
		Для связи с ментором введите в телеграмме @oprah
	</div>
</div>

{% endblock %}
